@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

.app-main{
  text-align: center;
  font-family: 'Luxurious Roman',cursive;
  
  
}

body {
  background-image: linear-gradient(to right, #dc7d1e, #e732a8);
}


.Quiz-main{
  padding:20px
}

.options-grid:hover{
  background-color: #4caf50;
  color: white;
  cursor: pointer;
} 

h3{
  text-transform: capitalize;
}

.table-cell{
  text-transform: capitalize
}

